- if semester.shows.empty?
  %h3 Shows are being copied in the background. Refresh in five seconds.
  %br

.schedule
  %table.table
    %thead
      %th
      - Date::DAYNAMES.rotate(1).each do |day|
        %td{ data: { weekday: day } }
          = day
    %tbody
      - semester.schedule.rows.each do |row|
        %tr
          %th
            .schedule__time= row.start_time
          - row.weekdays.each do |cell|
            - unless cell.nil?
              %td{ class: cell.css_class,
                   data: cell.data_attributes,
                   rowspan: cell.rowspan }
                - unless cell.show.nil?
                  - if current_page? edit_semester_path(semester)
                    .delete-show-button
                      - message = "Are you sure you want to delete #{cell.show.unambiguous_name}?"
                      = link_to cell.show,
                                class: %w[pt-button pt-minimal pt-small pt-icon-trash pt-intent-danger],
                                method: :delete,
                                data: { confirm: message} do
                        -# Empty
                  = render cell.show, locals: locals
