- title "Editing Schedule"
- back_link link_to "Back", @semester
- headline "Editing Schedule Beginning #{@semester.start}"

- content_for :sidebar do
  - if flash[:alert]
    .alert
      - flash[:alert].each do |err|
        %div=err
  -#= render "form"
  %h1.kicker Add a Show
  #tabs.pt-tabs
    %ul.pt-tab-list
      %li.pt-tab(role="tab")
        %a{href: "#tab-freeform"} Freeform
      %li.pt-tab(role="tab")
        %a{href: "#tab-specialty"} Specialty
      %li.pt-tab(role="tab")
        %a{href: "#tab-talk"} Talk
    #tab-freeform.pt-tab-panel(role="tabpanel")
      = render "freeform_shows/form", semester: @semester, show: @freeform_show
    #tab-specialty.pt-tab-panel(role="tabpanel")
      = render "specialty_shows/form", semester: @semester, show: @specialty_show
    #tab-talk.pt-tab-panel(role="tabpanel")
      = render "talk_shows/form", semester: @semester, show: @talk_show


- cache [@semester, :edit] do
  = render @semester, locals: {no_links: false}
