- title "Editing Schedule"
- back_link link_to "Back", @semester
- headline "Editing Schedule Beginning #{@semester.start}"

- content_for :sidebar do
  - if flash[:alert]
    .alert
      - flash[:alert].each do |err|
        %div=err
  = render "form"
  %h4 Add a Show
  #tabs
    %ul
      %li
        %a{href: "#tab-freeform"} Freeform
      %li
        %a{href: "#tab-specialty"} Specialty
      %li
        %a{href: "#tab-talk"} Talk Show
    #tab-freeform
      = render "freeform_shows/form"
    #tab-specialty
      = render "specialty_shows/form"
    #tab-talk
      = render "talk_shows/form"


= render @semester
