- title 'Show Schedule'

- cache @semester do
  .card__header
    %h1.kicker
      = 'Active' if @semester.range.cover? Date.today
      Show Schedule
      %br
      = "#{@semester.start} – #{@semester.end}"

    .card__header
      .pt-select
        = select_tag 'semesters', semesters_options
      - if dj_signed_in? && current_dj.can_create?(Semester)
        = react_component 'Options', prerender: true,
          props: { items: [ { text: 'Clone',
                              icon: 'duplicate',
                              href: new_semester_clone_path(@semester)},
                            { text: 'Edit',
                              icon: 'edit',
                              href: edit_semester_path(@semester) } ] }

  = render @semester, locals: { no_links: false }

- content_for :head do
  = javascript_pack_tag 'options'
