- title "Show Schedule"
- headline "#{'Active ' if @semester == Semester.current}WCBN Schedule "
- conditional_edit_link = " &nbsp;&nbsp;[#{link_to("edit schedule", edit_semester_path(@semester))}]" if dj_signed_in? && current_dj.can_update?(Semester)
- subtitle "#{@semester.start} &ndash; #{@semester.end}#{conditional_edit_link}".html_safe

- content_for :sidebar do
  %h4.no-margin All Schedules
  %ul.semesters
    - @semesters.each do |semester|
      %li{class: ("arrow" if semester == Semester.current)}
        %span{class: ("highlight" if semester == @semester)}
          =(semester == Semester.current ? "&rarr; ".html_safe : "".html_safe)
          =link_to("#{semester.season}", semester)
        - if dj_signed_in? && current_dj.can_create?(Semester)
          .copy
            [
            =link_to("copy", "/semesters/new/based_on/#{semester.id}")
            ]

%table.schedule
  %thead
    - ["", "Monday", "Tuesday", "Wednesday", "Thursday",
      "Friday", "Saturday", "Sunday"].each do |day|
      %td=day
  - weekday_rowskip_countdown = Hash.new(0)
  - @start_times.each do |time|
    %tr
      %th=time[:printable]
      - 1.upto 7 do |i|
        - if weekday_rowskip_countdown[i] == 0
          - s = @shows[time[:sortable]].select{|x| x.weekday == i % 7}
          - unless s.empty?
            - rowspan = rowspan(time, s.first.sort_times(:ending))
            - weekday_rowskip_countdown[i] = rowspan - 1
            %td.show{rowspan: rowspan}
              = render s
          - else  # no show at this time
            %td
        - else
          - weekday_rowskip_countdown[i] -= 1
