- content_for :head do
  = javascript_pack_tag 'options'
  = javascript_pack_tag 'selectNav'

- title 'Show Schedule'

- cache @semester do
  .card__header
    %h1.kicker
      = 'Active' if @semester.range.cover? Date.today
      Show Schedule
      %br
      = "#{@semester.start} – #{@semester.end}"

    .card__header
      .pt-select
        = react_component 'SelectNav', prerender: true,
          props: { items: @semesters.map { |s| { text: s.season,
                                                 url: semester_path(s) } },
                   selectedUrl: semester_path(@semester) }

      - if dj_signed_in? && current_dj.can_create?(Semester)
        = react_component 'Options', prerender: true,
          props: { items: [ { text: 'Clone',
                              icon: 'duplicate',
                              href: new_semester_clone_path(@semester)},
                            { text: 'Edit',
                              icon: 'edit',
                              href: edit_semester_path(@semester) } ] }

  = render @semester, locals: { no_links: false }
