- title "Show Schedule"
- headline "WCBN Schedule Beginning #{@semester.start}"
- subtitle "until #{@semester.end} &mdash; #{link_to "edit schedule", edit_semester_path(@semester)}".html_safe

- content_for :sidebar do
  %h4.no-margin All Schedules
  %ul.semesters
    - @semesters.each do |semester|
      %li{class: ("arrow" if semester == Semester.current)}
        %span{class: ("highlight" if semester == @semester)}
          =(semester == Semester.current ? "&rarr; ".html_safe : "".html_safe)
          =link_to("#{semester.beginning.strftime '%B %-d, %Y'}", semester)
        .copy
          [
          =link_to("copy", "/semesters/new/based_on/#{semester.id}")
          ]

%table.schedule
  %thead
    - ["", "Monday", "Tuesday", "Wednesday", "Thursday",
      "Friday", "Saturday", "Sunday"].each do |day|
      %td=day
  - @start_times.each do |time|
    %tr
      %th=time[:printable]
      - 1.upto 7 do |i|
        - s = @shows[time[:sortable]].select{|x| x.weekday == i % 7}
        - unless s.empty?
          %td.show{rowspan: rowspan(time, s.first.sort_times(:ending))}
            = render s
