- title 'Show Schedule'

- cache @semester do
  .card__header
    %h1.kicker
      = 'Active' if @semester.range.cover? Date.today
      Show Schedule
      %br
      = "#{@semester.start} – #{@semester.end}"

    .card__header
      = select_tag 'semesters', semesters_options
      = button_to new_semester_clone_path(@semester), method: :get do
        %i.far.fa-clone
        Clone
      = button_to edit_semester_path(@semester), method: :get do
        %i.far.fa-edit
        Edit

  = render @semester, locals: { no_links: false }
