:javascript
  $(document).on('ready page:load', function() {
    $('#signoff_random').change(function() {
      $('fieldset.signoff-random').slideToggle('fast');
      $('fieldset.signoff-scheduled').slideToggle('fast');
    });
  });

- @signoff.random_interval = @signoff.random_interval.parts * ' ' if @signoff.random_interval
= form_for @signoff do |f|
  - if @signoff.errors.any?
    .errors
      - @signoff.errors.full_messages.each do |err|
        %p=err
  .field
    = f.label :on, "Sign off on what?"
    %br
    = f.text_field :on
  .field
    = f.label :random, "Random times"
    = f.check_box :random
  %fieldset.signoff-random{class: ('hidden' unless @signoff.random)}
    .field
      = f.label :random_interval, "Random Interval (days)"
      %p.instructions
        The signoff will be set at random times once within this duration.  The
        difference between any two signoffs will not be consistent, and could be
        as great as almost twice the duration.
      = f.text_field :random_interval
  %fieldset.signoff-scheduled{class: ('hidden' if @signoff.random)}
    .field
      = f.label :times
      = f.text_area :times, style: "height: 20em", class: "monospace"
  .actions
    = f.submit "Save signoff", disable_with: "Saving..."
