- title "Sub Board"
- headline "The Sub Board"
- if params[:fulfilled]
  - headline ": Fulfilled Requests"
- disclaimers = {group: false, night: false}
- subtitle "Be a hero: sub for a fellow DJ's show!"

- unless @requests_by_day.empty?

  %table.sub-board
    %thead
      - ["Monday", "Tuesday", "Wednesday", "Thursday",
        "Friday", "Saturday", "Sunday"].each do |day|
        %td=day

    - @weeks.each do |week|
      %tr
        - (0..6).each do |wday|
          - day = week + wday.days
          - format = day.day == 1 || day == Time.zone.now.at_beginning_of_day ? '%b %d' : '%d'
          - day_in_past = day < Time.zone.now.at_beginning_of_day
          %td{class: ('active' unless day_in_past)}
            - unless day_in_past
              %p.req-day= day.strftime(format)
              - if reqs = @requests_by_day[day]
                - reqs.sort_by(&:at).each do |req|

                  .sub-req
                    -#RENDER SUB REQUEST
                    %p.req-time= req.at.strftime '%l%P'
                    %p.req-name
                      - if req.confirmed?
                        = req.episode.dj.to_s
                        covering
                        = req.episode.show.unambiguous_name
                      - else
                        = link_to req,
                          class: ("highlight" if req.needs_sub_in_group? && disclaimers[:group] = true) do
                          = req.episode.show.unambiguous_name
                        - if req.needs_sub_including_nighttime_djs?
                          *
                          - disclaimers[:night] = true

  - if disclaimers[:group]
    - subtitle "&nbsp;&nbsp;&nbsp;<span class='highlight'>Highlighted</span> requests have been sent specifically to you.".html_safe
  - if disclaimers[:night]
    .italic.subtitle *The Program Director has made this slot available to all WCBN DJs.

- else
  - subtitle 'There are currently no outstanding sub requests!'

- unless current_dj.allowed_to_do_daytime_radio? || current_dj.has_role?(:superuser)
  - subtitle "<br /> (As you have not completed one semester on WCBN, only nighttime requests are shown.)".html_safe
- subtitle "<br />Or, #{link_to "request a sub", dj_episodes_path(current_dj)} for your own show.".html_safe
- if current_dj.has_role?(:superuser) && !params[:fulfilled]
  - subtitle "  View #{link_to "fulfilled requests", sub_requests_path(fulfilled: true)} here.".html_safe
