- title 'Sub Board'

.card__header
  %h1.kicker
    The Sub Board

    - if request_scope == :fulfilled
      — Fulfilled Requests

    - unless fulfilled?
      %br
      Be a hero: sub for a fellow DJ’s show!

  .card__header
    - if current_dj.has_role?(:superuser)
      = link_to "#{other_request_scope.capitalize} Requests",
                sub_requests_path(request_scope: other_request_scope),
                class: %w[pt-button pt-icon-timeline-events]

    = link_to 'Request a Sub', upcoming_episodes_path,
              class: %w[pt-button pt-intent-primary pt-icon-issue-new]

- if @sub_requests.any?
  - if @sub_requests.any?(&:needs_sub_in_group?)
    %span.highlighted< Highlighted requests
    have been sent 
    %em specifically
    to you.

  - if @sub_requests.any?(&:needs_sub_including_nighttime_djs?)
    %br
    %em
      *The Program Director has made this daytime slot available to all WCBN DJs.

  - unless current_dj.allowed_to_do_daytime_radio?
    - if current_dj.has_role? :no_daytime
      %br
      (You are currently restricted to fulfilling nighttime sub requests.)
    - else
      %br
      (As you have not completed one semester on WCBN, only nighttime requests
      are shown.)



  %table.table.sub-board
    %thead
      %tr
        - Date::DAYNAMES.rotate(1).each do |day|
          %td{ data: { weekday: day } }
            = day

    %tbody
      - @sub_requests.each_week do |week|
        %tr
          - week.each do |day|
            %td
              - unless day.past?
                %p.sub-board__date= day
                - day.requests.each do |request|
                  .sub-board__request

                    %p.sub-board__request__time= request.time
                    %p.sub-board__request__name<
                      - if request.confirmed?
                        %span= request.episode.dj.to_s
                        covering
                        %cite
                          = request.episode.show.unambiguous_name

                      - else
                        = link_to request, class: request.html_class do
                          = request.episode.show.unambiguous_name
                        - if request.needs_sub_including_nighttime_djs?
                          *



- else
  .pt-callout.pt-icon-calendar.pt-intent-success
    %strong There are currently no outstanding sub requests!

= render 'settings'
