- title "Sub Board"
- headline "The Sub Board"
- if params[:fulfilled]
  - headline ": Fulfilled Requests"
- disclaimers = {group: false, night: false}

- unless @requests_by_day.empty?
  - subtitle "Be a hero: sub for a fellow DJ's show!"

  %table.sub-board
    %thead
      - ["Monday", "Tuesday", "Wednesday", "Thursday",
        "Friday", "Saturday", "Sunday"].each do |day|
        %td=day

    - @weeks.each do |week|
      %tr
        - (0..6).each do |wday|
          - day = week + wday.days
          - format = day.day == 1 || day == Time.zone.now.at_beginning_of_day ? '%b %d' : '%d'
          - day_in_past = day < Time.zone.now.at_beginning_of_day
          %td{class: ('active' unless day_in_past)}
            - unless day_in_past
              %p.req-day= day.strftime(format)
              - if reqs = @requests_by_day[day]
                - reqs.sort_by(&:at).each do |req|

                  .sub-req
                    -#RENDER SUB REQUEST
                    %p.req-time= req.at.strftime '%l%P'
                    %p.req-name
                      - if req.confirmed?
                        = req.episode.dj.to_s
                        covering
                        %cite
                          = req.episode.show.unambiguous_name
                      - else
                        = link_to req,
                          class: ("highlight" if req.needs_sub_in_group? && disclaimers[:group] = true) do
                          = req.episode.show.unambiguous_name
                        - if req.needs_sub_including_nighttime_djs?
                          *
                          - disclaimers[:night] = true

  - if disclaimers[:group]
    - subtitle "&nbsp;&nbsp;&nbsp;<span class='highlight'>Highlighted</span> requests have been sent specifically to you.".html_safe
  - if disclaimers[:night]
    .italic.subtitle *The Program Director has made this slot available to all WCBN DJs.

  - if current_dj.has_role? :superuser
    %h3 Settings
    %div{style: 'margin-top: 0.5em'}
    - night_setting = Setting.find_by_key('nighttime_requirement_disabled')
    %label
      = check_box_tag 'setting[value]', night_setting.id, night_setting.value,
      onchange: "$(this).data('params', 'setting[value]=' + this.checked)",
      data: { remote: true, url: setting_url(night_setting), method: 'PUT'}
      Disable the requirement that DJs do only nighttime slots for their first semester.

- else
  - subtitle 'There are currently no outstanding sub requests!'

- unless current_dj.allowed_to_do_daytime_radio? || current_dj.has_role?(:superuser)
  - if current_dj.has_role? :no_daytime
    - subtitle "<br /> (You are currently restricted to fulfilling nighttime sub requests.)".html_safe
  - else
    - subtitle "<br /> (As you have not completed one semester on WCBN, only nighttime requests are shown.)".html_safe
- subtitle "<br />Or, #{link_to "request a sub", dj_episodes_path(current_dj)} for your own show.".html_safe
- if current_dj.has_role?(:superuser) && !params[:fulfilled]
  = content_for :back_link do
    = link_to "Fulfilled Requests", sub_requests_path(fulfilled: true)
- elsif params[:fulfilled]
  = content_for :back_link do
    = link_to "Active Requests", sub_requests_path
