- title "Requesting a Sub for #{@episode.show.unambiguous_name}"

.card__header
  %h1.kicker Request a Sub

  .card__header
    = link_to "Return to Index", dj_upcoming_episodes_path(@episode.dj),
              class: %w[pt-button pt-icon-timeline-events]


= simple_form_for [@episode, @sub_request], builder: BlueprintFormBuilder do |f|
  .medium-container
    = f.errors

    .pt-callout.pt-callout-card.pt-intent-primary.pt-icon-issue
      %p.kicker.pt-callout-title Confirm that the following details are correct.
      %dl
        %dt Show
        %dd
          = link_to sub_request.episode.show do
            = sub_request.episode.show.unambiguous_name

        %dt Date
        %dd= sub_request.episode.date_string

        %dt Time
        %dd= sub_request.episode.just_time_string

        %dt Current DJ
        %dd= link_to sub_request.episode.dj.name, sub_request.episode.dj

    = f.form_group :reason, class: %w[margin-top] do |f, error_classes|
      %p Why do you need a sub?  Justify this request.
      = f.text_area :reason, class: (%i[pt-input pt-fill] + error_classes),
                             style: "height: 5em"

    = f.form_group :group, class: %w[margin-top] do |f, error_classes|
      %p
        You have the option to limit this request to a small group of WCBN DJs.
        If you choose anyone in the box below, only those people will be asked to
        fulfill this request.  You will have the option to open this request to
        the whole station at a later date, if needed.
        %br
        Leave this blank to ask the whole station.
      = f.select :group, active_for_select(f.object.group), {}, multiple: true, tabindex: 22, class: 'chzn-select', data: {placeholder: "Choose DJs to whom you want to limit this request."}
    .actions
      = f.submit "Place the request"
