- title "Editing DJ — #{@dj}"

= simple_form_for @dj, builder: BlueprintFormBuilder do |f|
  = f.errors

  .dj__metadata
    .row
      = profile_picture @dj
      %label.dj__edit-profile-picture
        = f.file_field :avatar, direct_upload: true, accept: 'image/png,image/gif,image/jpeg'
        %span.pt-button.pt-icon-mugshot
          Change Avatar
      .dj__name
        %h1 Edit Profile
        .row.wrap
          = f.form_group :dj_name, placeholder: @dj.first_name,
                                   group_class: %w[pt-large]
          = f.form_group :name, in_parens: 'required', group_class: %w[pt-large]
          = f.form_group :real_name_is_public, group_class: %w[pt-large] do |f|
            %label.pt-control.pt-switch.pt-large
              = f.check_box :real_name_is_public, with_label: false
              %span.pt-control-indicator

  .pt-callout.pt-callout-card.pt-intent-primary.pt-icon-id-number.margin-bottom
    %h2.kicker.pt-callout-title Personal Information
    %p.pt-text-muted
      The following fields are only visible to other station members
    .row.wrap
      = f.form_group :phone do |f, has_err|
        = f.telephone_field :phone,
                            autocomplete: 'tel', class: %w[pt-input] + has_err
      = f.form_group :email do |f, has_err|
        = f.email_field :email,
                        autocomplete: 'email', class: %w[pt-input] + has_err
      = f.form_group :um_affiliation do |f, has_err|
        .pt-select{ class: has_err }
          = f.input_field :um_affiliation, prompt: :translate,
                          collection: Person::UM_AFFILIATIONS.map(&:to_sym)
      = f.form_group :umid
      = f.form_group :um_dept

  .pt-callout.pt-callout-card.pt-icon-user.margin-bottom
    %h2.kicker.pt-callout-title Profile Information
    .row.wrap
      = f.form_group :website
      = f.form_group :public_email

    .margin-bottom.margin-right
      = f.label :about
      = f.hidden_field :about, id: :dj_about
      %trix-editor.trix-content.pt-running-text{input: :dj_about}

    = f.label :lists
    %p.pt-text-muted
      E.g. best albums this year, favorite instruments, etc.
    .dj__lists.margin-bottom.margin-right
      = f.hidden_field :lists, id: :dj_lists
      :ruby
        placeholder_text = <<~PLACEHOLDER
          Top 5 Concerts I’ve Seen

          1. John Coltrane, A Love Supreme, live at Festival Mondial du Jazz Antibes, 26 July 1965
          2. The Grateful Dead, then “Warlocks,” at the first Acid Test, 27 November 1965
          3. Bob Dylan – Newport Folk Festival, 25 July 1965
          4. Jimi Hendrix at Woodstock
          5. The Beatles’ rooftop concert, 30 January 1969
        PLACEHOLDER
      %trix-editor{ data: { 'trix-prevent-uploads': 'true' }, input: :dj_lists,                                |
                    placeholder: placeholder_text }

  .row.wrap
    = f.submit class: %w[pt-button pt-intent-primary]

= javascript_pack_tag 'direct_uploads'
= javascript_pack_tag 'trix_uploads'
