- title "Editing DJ &mdash; #{@dj}"

= form_for(@dj) do |f|

  %header#headline.with-profile-pic
    %img.profile-pic.robot{src: "http://www.robohash.org/#{Digest::MD5.hexdigest(@dj.email)}?set=set3"}
    -#%img.profile-pic{src: "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@dj.email)}?d=identicon&s=200&f=y"}
    %div
      %p.linear-field
        = f.label :dj_name, "DJ Name"
        = f.text_field :dj_name, placeholder: @dj.first_name
      %p.linear-field
        = f.label :name, "Real Name"
        = f.text_field :name

  %aside.thin-sidebar{style: "padding-top: 0;"}
    .linear-field
      = f.label :real_name_is_public, "Make my real name public?"
      = f.check_box :real_name_is_public
    %br
    .actions
      = f.submit "Save changes", data: {disable_with: "Saving..."}

  %article.with-thin-sidebar.with-right-sidebar
    %section
      .dj-info
        - if @dj.errors.any?
          .alert
            - @dj.errors.full_messages.each do |msg|
              %p= msg
        %ul
          %li.linear-field
            = f.label :website
            = f.text_field :website, placeholder: "optional"
          %li.linear-field
            = f.label :public_email
            = f.text_field :public_email, placeholder: "optional"
        %p.instructions
          The following fields are only visible to WCBN DJs. (UMID only visible to Exec Staff.)
        %ul
          %li.linear-field
            = f.label :phone 
            = f.phone_field :phone 
          %li.linear-field
            = f.label :email 
            = f.email_field :email 
          %li.linear-field
            = f.label :um_affiliation, "U-M Affiliation"
            = f.select :um_affiliation, options_for_select([['U-M Student', 'student'],
                ['U-M Faculty or Staff', 'faculty'],
                ['U-M Alumnus/a', 'alumnus'],
                ['Community Member', 'community']],
              @dj.um_affiliation) 
          %li.linear-field
            =f.label :umid, "UMID Number"
            =f.number_field :umid 
          %li.linear-field
            = f.label :um_dept, "U-M Department"
            = f.text_field :um_dept
      = f.label :about, "Your Bio"
      %div
        %p.instructions
          You can use markdown...
        = f.text_area :about, class: "dj-about-textarea monospace"
    %aside.right-sidebar
      = f.label :lists, "Your Picks"
      %p.instructions
        E.g. best albums this year, favorite instruments, etc.
        %br
        Use Markdown to do it as follows, and put a blank line in between two lists.
      =preserve do
        %pre.code<
          :escaped
            # Top 5 Concerts I’ve Seen
            1. John Coltrane, A Love Supreme, live at Festival Mondial du Jazz Antibes, 26 July 1965
            2. The Grateful Dead, then “Warlocks,” at the first Acid Test, 27 November 1965
            3. Bob Dylan – Newport Folk Festival, 25 July 1965
            4. Jimi Hendrix at Woodstock
            5. The Beatles’ rooftop concert, 30 January 1969
      = f.text_area :lists, class: "dj-lists-textarea monospace"

