- title "DJs"

- content_for :sidebar do
  %h2.kicker Create a DJ Account

  %p.margin-bottom
    If you need to, you can bypass the trainee subsystem and create a DJ account
    here. The new DJ will receive an email so they can choose their password.

  = simple_form_for @dj, builder: BlueprintFormBuilder do |f|
    = f.errors

    = f.form_group :name

    = f.form_group :email do |f, error_classes|
      = f.email_field :email, autocomplete: :email,
                      class: %w[pt-input pt-fill] + error_classes

    = f.form_group :phone do |f, error_classes|
      = f.telephone_field :phone, autocomplete: :tel,
                          class: %w[pt-input pt-fill] + error_classes

    = f.form_group :um_affiliation do |f, error_classes|
      .pt-select.pt-fill{ class: error_classes }
        = f.input_field :um_affiliation, prompt: :translate,
                        collection: Person::UM_AFFILIATIONS.map(&:to_sym)

    .actions
      = f.submit class: %w[pt-button pt-intent-primary]


.card__header
  %h1.kicker WCBN DJs

  .card__header
    = link_to 'Download Phone List', djs_path(format: :pdf),
              class: %w[pt-button pt-icon-document]

%table.table.table--minimal
  %thead
    %td
    %td Name
    %td UM Affiliation
    %td Phone
    %td Email
    %td Last Seen
    %td

  - @djs.each do |dj|
    %tr
      %td.td--icon
        - if dj.active?
          %span.pt-icon.pt-icon-tick.pt-intent-success
        - else
          %span.pt-icon.pt-icon-cross.pt-intent-danger

      %td
        = link_to dj do
          =dj.to_s
        = " (#{dj.dj_name.blank? ? dj.name.split(' ')[1..-1]*' ' : dj.name})"

      %td
        = Person::AFFILIATION_NAMES[dj.um_affiliation]

      %td=dj.phone

      %td= mail_to dj.email

      %td= time_ago_in_words(dj.last_sign_in_at) rescue "–"

      %td.td--icon
        = link_to edit_dj_settings_path(dj),
                  class: %w[pt-button pt-minimal pt-small pt-icon-cog] do
          -# Empty
