- content_for :head do
  = javascript_pack_tag 'options'
  = javascript_pack_tag 'selectNav'

- title "#{dj}"

.card__header.dj__metadata
  .row
    = profile_picture dj
    .dj__name
      %h1= dj

      - if dj_signed_in? || dj.real_name_is_public
        %p{ class: dj.real_name_is_public ? '' : 'pt-text-muted' }
          = dj.name

      - unless dj.website.blank? && dj.public_email.blank?
        %p.pt-button-group
          - unless dj.website.blank?
            = link_to 'Website', dj.website,
                      target: '_blank', rel: 'noopener noreferrer',
                      class: %i[pt-button pt-icon-globe]
          - unless dj.public_email.blank?
            = mail_to dj.public_email, 'Email',
                    class: %i[pt-button pt-icon-envelope]


  .card__header
    - if current_dj == dj
      = link_to edit_dj_registration_path, class: 'pt-button pt-icon-key' do
        Change Password
    - if current_dj&.can_update? dj
      = link_to edit_dj_path(dj), class: 'pt-button pt-icon-edit' do
        Edit

.dj__story
  .dj__biography
    - if dj_signed_in?
      .pt-callout.pt-callout-card.pt-intent-primary.pt-icon-id-number
        %h2.kicker.pt-callout-title Personal Information
        %dl
          %dt Phone
          %dd= dj.phone

          %dt Email
          %dd= dj.email

          %dt UM Affiliation
          %dd= t "simple_form.options.dj.um_affiliation.#{dj.um_affiliation}"

          - unless dj.um_dept.blank?
            %dt Department
            %dd= dj.um_dept

          - unless dj.umid.blank?
            %dt UMID Number
            %dd= dj.um_id

    .trix-content.pt-running-text
      - unless dj.about.blank?
        %h2.kicker Biography
        = sanitize dj.about

  - unless dj.lists.blank?
    .pt-card.dj__lists__container.dj__lists.pt-running-text
      = sanitize dj.lists

%h2.kicker Shows
.grid
  - dj.shows_by_name.each do |name, shows|
    .pt-card.pt-elevation-2.dj__show
      %p
        %strong= name

        %span
          - if shows.first.semester == Semester.current
            = shows.first.time_string
          - else
            No longer DJing

      = react_component 'SelectNav', prerender: true,
        props: { blankItem: pluralize(shows.length, 'semester'),
                 items: shows.map { |s| { text: s.semester.decorate.season,
                                          url: url_for(s) } } }

%h2.kicker Activity
.dj__activities
  - dj.recent_episodes.each do |episode|
    .dj__activity
      .activity__icon.pt-card
        %i{ class: episode.activity.icon_classes }
      %p.activity__details
        %span.activity__date= episode.date_string
        = raw episode.activity
