- title "#{@dj}"

-# DJ Activity is in the sidebar if the dj has about text written, and in the
-# main body if not.
- content_for :dj_activity do
  - unless @shows.empty? && @recent_episodes.empty?
    .dj-shows
      - @shows.each do |name, shows|
        %h4=name
        %ul
          - shows.each do |show|
            %li
              =link_to "#{show.semester.season}", show
              =raw show.time_string rescue raw "&nbsp;(cancelled)"
    .dj-recent-episodes
      %h4 Most Recent Shows
      - @recent_episodes.each do |ep|
        =link_to episode_songs_path(ep), {class: %w(dj-recent-episode showinfo)} do
          %b=ep.show.unambiguous_name
          %p=ep.date_string
      .rightalign= link_to "All Recent Shows".html_safe, dj_episodes_path(@dj)

%header#headline.with-profile-pic
  =profile_picture @dj
  %div
    %h2="#{@dj}"
    - if dj_signed_in? || @dj.real_name_is_public
      %p.subtitle.italic
        =@dj.name
        =" (real name is #{"not " unless @dj.real_name_is_public}public)" if dj_signed_in?
    %p.subtitle.dj-edit-link
      - if dj_signed_in? && @dj.updatable_by?(current_dj)
        =link_to "edit profile", edit_dj_path(@dj)
      - if current_dj == @dj
        •
        =link_to "change password", edit_dj_registration_path

%aside.thin-sidebar
  = content_for(:dj_activity) unless @dj.about.blank?

%article.with-thin-sidebar.with-right-sidebar
  %section
    - if @dj.trainee && dj_signed_in? && current_dj.can_read?(@dj.trainee)
      .rightalign.minustop= link_to "Training History", @dj.trainee
    - unless !dj_signed_in? && @dj.website.blank? && @dj.public_email.blank?
      .dj-info
        %ul
          - if dj_signed_in?
            %li
              UM Affiliation:&nbsp;
              = @dj.um_dept
              = Person::AFFILIATION_NAMES[@dj.um_affiliation]
            - if @dj.um_affiliated? && current_dj.has_role?(:superuser)
              %li
                UMID:
                = @dj.um_id
            %li
              Phone:
              = @dj.phone
            %li
              Email:
              = link_to @dj.email, "mailto://#{@dj.email}"
              %br
          - unless @dj.website.blank?
            %li
              URL:
              = link_to @dj.website_name, @dj.website
          - unless @dj.public_email.blank?
            %li
              = "#{"Public " if dj_signed_in?}Email:"
              = link_to @dj.public_email, "mailto://#{@dj.public_email}"
    .dj-about
      - unless @dj.about.blank?
        = markdown @dj.about
      - else
        %span.italic This DJ has not written a bio.
    - if @dj.about.blank?
      %div
        = content_for(:dj_activity)

  - unless @dj.lists.blank?
    %aside.right-sidebar
      .dj-lists
        = markdown @dj.lists
