- title "Sub Request for #{@episode.show.unambiguous_name}"
- headline "#{@episode.dj} Needs a Sub"
- back_link link_to "Back to Sub Board", episodes_path
- subtitle "Be a hero:"

.sub-req-info
  %ul
    %li
      %span Show:&nbsp;
      %span= link_to @episode.show.unambiguous_name, @episode.show
    %li
      %span Date:&nbsp;
      %span= @episode.date_string
    %li
      %span Time:&nbsp;
      %span= @episode.just_time_string
    %li
      %span Current DJ:&nbsp;
      %span= link_to @episode.dj.name, @episode.dj
    %li
      %span Reason:
      %blockquote= "“#{@episode.sub_request_information}”"

