- title "Events"

%nav.events-heading
  %h2.active= link_to 'Events', events_path
  %h2= link_to 'Concerts', concerts_path

- @events.days.each do |date, events|
  %div.events-container
    %div.events-date
      %h3= l date, format: :long


    %div.events-day
      %ul.events
      - events.each do |event|
        %li.event
          %h4= event.title
          %p= event.beginning.formatted_time
          - unless event.location.blank?
            %p=link_to event.location, 'https://www.google.com/maps/search/' + event.location
          - unless event.description.blank?
            %p= event.description
          - unless event.attachments.blank?
            - event.attachments.each do |a|
              %a= link_to 'View Attachment', a['fileUrl'], alt: a['title'], target: "_blank", rel: "noopener noreferrer"
  %hr
  
%footer.events-footer
  - if on_fm_computer?
    %p.events-dj-instructions
      Always read when you are done with Events Info
      


  %p.events-blurb
    Events Information is brought to you by Current Magazine, Ann Arbor's
    entertainment monthly, available at many locations around town.
    %br
    Events Info can be heard daily in the morning at 1:30, 4:30, 7:30, and 10:30,
    and also at 1:30pm, 4:30pm, and 8:30pm right here on WCBN fm Ann Arbor.
