.song__metadata{ title: song.at.to_formatted_s(:long) }
  %span.song__time-string= song.decorate.time_string # TODO
  .song__album-art

%div
  .song__details
    %span.song__artist
      = song.artist

    %span.song__name
      = surround '“', '”' do
        = song.name.strip

  - unless song.album.blank? && song.label.blank? && song.year.blank?
    .song__details
      - unless song.album.blank?
        %span.song__album
          = song.album

      - unless song.label.blank? && song.year.blank?
        %span.song__publishing-info
          = surround '(', ')' do
            - unless song.label.blank?
              = song.label.strip
            - unless song.year.blank?
              = song.year
