- title "#{@episode.date_string} — #{@episode.show.unambiguous_name}"

.card__header
  %h1.kicker
    = @episode.show.name
    with
    = link_to @episode.dj, @episode.dj
    %br
    Playlist from
    = @episode.date_string

  .card__header
    = link_to 'Return to Episodes', @episode.show,
              class: %w[pt-button pt-icon-timeline-events]


- unless @episode.notes.blank?
  .medium-container.margin-bottom
    .pt-callout
      %h2.kicker.pt-callout-title Show Notes
      .pt-running-text
        = markdown @episode.notes

= render 'playlists/playlist', items: @items
