- title "Songs"
- headline "Playlist: #{@episode.show.name}"
- subtitle "#{with @episode} on #{@episode.date_string}".html_safe
- back_link link_to "Back to Schedule", @episode.show.semester
- content_for :sidebar do
  %h3 All Episodes
  .rightalign=link_to "Configure", @episode.show
  - @episode.show.episodes.order(beginning: :desc).select(&:past?).each do |episode|
    .showinfo.tiled
      %p{class: ("highlight" if episode == @episode)}
        =link_to episode.date_string, episode_songs_path(episode)
      %p.with
        =with episode

- unless @episode.notes.nil?
  .show-notes
    %h4 Show Notes
    = @episode.notes

%table
  %thead
    %td Time
    %td Artist
    %td Song Title
    %td Album
    %td Label
    %td Year
  - @songs.each do |song|
    %tr
      %td.thin.time-col=song.at.getlocal.strftime '%l:%M %p'
      %td=song.artist
      %td<
        ="“#{song.name}”"
        %span.thin.accent=' (by request)' if song.request
      %td.italic=song.album
      %td.thin=song.label
      %td.thin.lnum= song.year
