- title "Playlist: #{@episode.show.unambiguous_name}"
- headline "Playlist: #{@episode.show.unambiguous_name}"
- subtitle raw "#{with @episode} on #{@episode.date_string}"
- if dj_signed_in? && current_dj.can_update?(@episode)
  - subtitle raw "<br />"
  - subtitle link_to "Edit show notes", edit_episode_path(@episode)
- back_link link_to "Back to Schedule", @episode.show.semester
- content_for :sidebar do
  .rightalign=link_to "All Episodes", @episode.show
  - @episode.show.episodes.order(beginning: :desc).select(&:past?).each do |episode|
    .showinfo.tiled
      %p{class: ("highlight" if episode == @episode)}
        =link_to episode.date_string, episode_songs_path(episode)
      %p.with
        =with episode

= render 'episodes/shownotes', episode: @episode, longform: true

- unless @songs.empty?
  %table
    %thead
      %td Time
      %td Artist
      %td Song Title
      %td Album
      %td Label
      %td Year
    - @songs.each do |song|
      %tr
        %td.thin.time-col=song.at.getlocal.strftime '%l:%M %p'
        %td=song.artist
        %td<
          ="“#{song.name}”"
          %span.thin.accent=' (by request)' if song.request
        %td.italic=song.album
        %td.thin=song.label
        %td.thin.lnum= song.year
