- title "Songs"
- headline "Playlist: #{@episode.show.name}"
- subtitle "#{@episode.show.with @episode} on #{@episode.date_string}".html_safe
- back_link link_to "All Episodes", @episode.show
- content_for :sidebar do
  %h3 All Episodes
  - @episode.show.episodes.order(beginning: :desc).select(&:past).each do |episode|
    .showinfo.tiled
      %p{class: ("highlight" if episode == @episode)}
        =link_to episode.date_string, episode_songs_path(episode)
      %p.with
        =episode.show.with episode

%table
  %thead
    %td Time
    %td Artist
    %td Song Title
    %td Album
    %td Label
    %td Year
  - @songs.each do |song|
    %tr
      %td.thin.time-col=song.at.getlocal.strftime '%l:%M %p'
      %td=song.artist
      %td<
        ="“#{song.name}”"
        %span.thin.accent=' (by request)' if song.request
      %td.italic=song.album
      %td.thin=song.label
      %td.thin.lnum= song.year
