- title "Concerts"

%div.events-heading
  %h2= link_to 'Events', events_path
  %h2.active= link_to 'Concerts', concerts_path

- @events.days.each do |date, events|
  %div.events-container
    %div.events-date
      %h3= l date, format: :long


    %div.events-day
      %ul.events
      - events.each do |event|
        %li.event
          %h4= event.title
          -if (l event.beginning, format: '%p') != ''
            %p= l event.beginning, format: '%l:%M %p'
          -else
            %p All day
          %p=link_to event.location, 'https://www.google.com/maps/search/' + event.location
          %p= event.description
          - event.attachments.each do |a|
            %a= link_to 'View Attachment', a['fileUrl'], alt: a['title'], target: "_blank"
  %hr
  
%footer.events-footer
  - if on_fm_computer?
    %p.events-dj-instructions
      Always read when you are done with Concert Info
      


  %p.events-blurb
    Concert info is brought to you by the locally owned Ann Arbor Observer,
    providing news and events online at annarborobserver.com and in print.
    Stay tuned for concert and events info, every other hour, on WCBN FM Ann Arbor.
