= simple_form_for [@semester, @show], builder: BlueprintFormBuilder do |f|
  = f.errors

  = f.form_group :name

  = f.form_group :description do |f, error_classes|
    = f.text_area :description,
                  rows: 8, class: %w[pt-input pt-fill] + error_classes

  = f.form_group :website

  - if current_dj.can_create?(FreeformShow)
    -#= f.form_group :dj_id do |f, error_classes|
      = f.select :dj_id, active_for_select(f.object.dj), {},
                 class: %w[chzn-select] + error_classes

    = f.form_group :weekday do |f, error_classes|
      .pt-select{ class: %w[pt-fill] + error_classes }
        = f.input_field :weekday, collection: DateTime::DAYNAMES.map.with_index

    .form__row
      = f.label :beginning, class: %w[pt-label] do
        Start
        = f.time_field :beginning, class: %w[pt-input]

      = f.label :duration, class: %w[pt-label] do
        Duration
        = f.number_field :duration, class: %w[pt-input]

  .actions
    = f.submit 'Save Freeform Show', data: { disable_with: 'Saving...' }
