= form_for [@semester, @freeform_show] do |f|
  - if @freeform_show.errors.any?
    .alert
      - @freeform_show.errors.full_messages.each do |msg|
        %p= msg
  .field
    = f.label :name
    = f.text_field :name, tabindex: 10, autofocus: true
  .field
    = f.label :dj_id, 'DJ'
    %br
    = f.select :dj_id, active_for_select(f.object.dj), {}, tabindex: 11, class: 'chzn-select'
  .field
    = f.label :weekday
    = f.select :weekday, options_for_select(DateTime::DAYNAMES.map.with_index.to_a, f.object.weekday), {}, tabindex:12
  .field.field-beginning
    = f.label :beginning, 'Start'
    = f.time_field :beginning, value: format_time(f.object.beginning), tabindex: 13
  .field.field-ending
    = f.label :ending, 'End'
    = f.time_field :ending, value: format_time(f.object.ending), tabindex: 14
  .actions
    = f.submit 'Save freeform show', data: { disable_with: 'Saving...' }, tabindex: 15
