- if dj_signed_in? && current_dj.can_update?(@show)
  = content_for :sidebar do
    = render 'form'

= render 'shows/header', show: @show
= render 'shows/hosts', show: @show
= render 'shows/episodes', show: @show do |episode|
  - if episode.past?
    = link_to episode_songs_path(episode), class: %w[pt-button] do
      = pluralize episode.songs.count, 'Song'

