- content_for :host do
  %h3 Your Host
  .rotating-hosts
    .tiled.rotating-host
      =render @freeform_show.dj
- title "#{@freeform_show.name}"
- subtitle @freeform_show.description
- headline "#{@freeform_show.name}"
- back_link link_to "Back to Schedule", semester_path(@freeform_show.semester)
= content_for :sidebar do
  - if dj_signed_in? && current_dj.can_update?(@freeform_show)
    =render 'form'
  - else
    =content_for :host

- if dj_signed_in? && current_dj.can_update?(@freeform_show)
  =content_for :host
%h3 Episodes
- @episodes.each do |episode|
  .showinfo.tiled
    %p
      = episode.date_string
      %br
      = episode.just_time_string
    -if episode.past?
      %p.show-instance-links
        =link_to "#{episode.songs.count} #{"song".pluralize(episode.songs.count)}",
          episode_songs_path(episode)
    %p.with
      =with(episode) if episode.subbed_for?
      &nbsp;

