= simple_form_for [semester, show], builder: BlueprintFormBuilder do |f|
  = f.errors

  = f.form_group :name

  = f.form_group :description do |f, error_classes|
    = f.text_area :description,
                  rows: 8, class: %w[pt-input pt-fill] + error_classes

  = f.form_group :website

  = f.form_group :coordinator_id do |f, error_classes|
    = f.select :coordinator_id, active_for_select(f.object.coordinator), {},
               class: %w[chzn-select] + error_classes

  = f.form_group :djs do |f, error_classes|
    = f.select :djs, active_for_select(f.object.djs.to_a), {}, multiple: true,
               class: %w[chzn-select] + error_classes

  - if current_dj.can_create?(SpecialtyShow)
    = f.form_group :weekday do |f, error_classes|
      .pt-select{ class: %w[pt-fill] + error_classes }
        = f.input_field :weekday, collection: DateTime::DAYNAMES.map.with_index

    .form__row
      = f.label :beginning, class: %w[pt-label] do
        Start
        = f.time_field :beginning, class: %w[pt-input]

      = f.label :duration, class: %w[pt-label] do
        Duration&nbsp;(hrs)
        = f.number_field :duration, step: 0.1, class: %w[pt-input]

  .actions
    = f.submit 'Save Specialty Show', data: { disable_with: 'Saving...' }
