- dj_can_update_show = dj_signed_in? && current_dj.can_update?(@specialty_show)
- content_for :rotating_hosts do
  %h3 Rotating Hosts
  - if dj_signed_in? && current_dj.can_update?(@specialty_show)
    .subtitle
      =link_to "Reassign rotation", deal_specialty_show_path(@specialty_show), method: :patch
      to unconfirmed episodes.
  .rotating-hosts
    -@specialty_show.rotating_hosts.each do |host|
      .tiled.rotating-host{data: ({dj_id: host.id} if dj_can_update_show)}
        =render host

- title "#{@specialty_show.name}"
- headline "#{@specialty_show.name}"
- subtitle "Coordinated by #{@specialty_show.coordinator.name}"
- back_link link_to "Back to Schedule", semester_path(@specialty_show.semester)
= content_for :sidebar do
  - if dj_can_update_show
    =render 'form'
  - else 
    = content_for :rotating_hosts

- if dj_can_update_show
  = content_for :rotating_hosts

%h3 Episodes
.episodes
  - @episodes.each do |episode|
    .showinfo.tiled{class: ["episode#{'-past' if episode.past? && !episode.unassigned? }", "episode-#{episode.status}"], data: ({episode_path: episode_path(episode)} if dj_can_update_show)}
      %p=episode.date_string
      -if episode.past?
        %p.show-instance-links
          =link_to "#{episode.songs.count} #{"song".pluralize(episode.songs.count)}",
            episode
      %p.with=episode.status_string
