- title "Trainees"
- headline "DJs In Training"
- subtitle "The &nbsp;<i class='fa fa-headphones'></i>&nbsp; icon indicates that a trainee’s demo tape has been approved.<br />The circled number indicates the amount of on-air training they’ve had: stage two and apprenticeships.".html_safe
- back_link link_to 'Add New Trainee', new_trainee_path

- content_for :sidebar do
  .absolute
    %h3 Filter by Interests
    .instructions
      Limit the trainee list to those who’ve declared interest in any of the
      following categories:
    .instructions
      = interest_links ["Freeform Music Show", "Talk Show", "Sports Radio",
                        "Development", "Engineering", "Events", "Publicity",
                        "Music Review", "Social Media", "Website",
                        "Producing Recorded Announcements", "Library Management"]
    %textarea#trainee_interests{type: "text"}

.rightalign.minustop
  - if params[:sort] == 'progress'
    = link_to "show most recent", {sort: 'recent'}
  - else
    = link_to "show most progressed", {sort: 'progress'}
- @trainees.each do |trainee|
  .trainee{data: {interests: trainee.interests}}
    .small.grey="#{trainee.created_at.to_date} — #{trainee.sent_email}"
    .trainee-thin
      %h3.name.inline=link_to trainee.name, trainee
      - if trainee.demotape.accepted?
        %span{title: "Demo Tape Approved"}
          %i.fa.fa-headphones.green
      %span.smaller.grey
        =circled_number(trainee.episodes.count) if trainee.episodes.count.between?(1, 20)
      %br
      .inline= trainee.um_dept
      .inline=Person::AFFILIATION_NAMES[trainee.um_affiliation]
      .grey.inline= raw (" — #{trainee.um_id}") if trainee.um_affiliated?
      %br
      .inline=trainee.phone
      .inline=' — '+trainee.email
    .trainee-wide
      .small='Referral: '+trainee.referral
      .small.grey='Experience: '+trainee.experience
    .interests.grey.nowrap="Interests: #{trainee.interests}"
.hidden-trainees.subtitle.italic
