- title "Trainee — #{@trainee.name}"
- headline "#{@trainee.name}"
- subtitle (@trainee.broadcasters_exam.accepted? ? "Training History" : "DJ-in-training")
- if dj_signed_in?
  - if @trainee.broadcasters_exam.accepted?
    - back_link link_to 'Back to profile', @trainee.dj
  - else
    - back_link link_to 'All Trainees', trainees_path
- else
  - back_link link_to 'Edit profile', edit_trainee_path(@trainee)


- content_for :sidebar do
  - unless @trainee.broadcasters_exam.accepted?
    %h3 Actions
    - if dj_signed_in?
      = render 'training_coordinator_actions'
    - else
      = render 'trainee_actions'

.trainee{data: {interests: @trainee.interests}}
  .trainee-wide
    - if @trainee.disqualified
      .alert
        This person’s training has been discontinued.
    .dj-info
      %ul
        %li
          Attended Stage 1:
          = @trainee.created_at.to_date
        %li
          Reminder Emails:
          = @trainee.sent_email
        - unless @trainee.broadcasters_exam.accepted?
          %li
            UM Affiliation:&nbsp;
            = @trainee.um_dept
            = Person::AFFILIATION_NAMES[@trainee.um_affiliation]
          - if @trainee.um_affiliated?
            %li
              UMID:
              = @trainee.um_id
          %br
          %li
            Phone:
            = @trainee.phone
          %li
            Email:
            = link_to @trainee.email, "mailto://#{@trainee.email}"

    .interests.grey="Interests: #{@trainee.interests}"
    .longform
      Referral:
      %blockquote=@trainee.referral
    .longform.grey.padtop
      Experience:
      %blockquote=@trainee.experience
    - unless @trainee.um_affiliated?
      .longform.padtop
        Personal Statement:
        %blockquote=@trainee.statement

    - unless @trainee.demo_tapes.empty?
      %hr
      - @trainee.demo_tapes.each do |demo_tape|
        .longform.padbottom
          Submitted demo tape on
          = succeed ':' do
            = demo_tape.created_at.to_date
          %br
          %audio{controls: true, src: demo_tape.url}
          - if demo_tape.feedback.blank?
            - if dj_signed_in? && current_dj.can_update?(demo_tape)
              %blockquote
                = link_to 'Review demo tape', edit_demo_tape_path(demo_tape)
          - else
            %blockquote
              Reviewer feedback:
              %br
              = surround '“', '”' do
                = demo_tape.feedback
          - if demo_tape.accepted_at
            %span.green
              Accepted at
              = demo_tape.accepted_at.to_date

      - if @trainee.broadcasters_exam.accepted?
        .padtop
          = succeed '.' do
            %span.green Broadcaster’s Exam Passed
          Witnessed by
          = @trainee.broadcasters_exam.accepting_dj
          = "(#{@trainee.broadcasters_exam.timestamp.to_date})"

  .trainee-thin.padleft
    .dj-recent-episodes.minustop
      - @apprenticeships.each do |type, eps|
        - unless eps.empty?
          %h4.padtop=type.to_s.humanize.titlecase
          - eps.each do |ep|
            .dj-episode
              .showinfo
                %b<
                  =ep.show.unambiguous_name
                  ="?" unless ep.shadowed
                %p=ep.date_string
