- title "Playlist Input"

%aside.sidebar{class: ("sidebar-fixed" if on_fm_computer?)}
  - if @on_air
    %a#now-button{href: "#now"}
      %span now
    = render 'episodes/upcoming_episodes'
    = render 'songs/form' if on_fm_computer?
    = render 'setbreaks/form' if on_fm_computer?
    %br
    - if on_fm_computer?
      = render 'episodes/shownotes', episode: @on_air, editable: true

%article.with-sidebar{class: ('scroll-up' if on_fm_computer?)}
  - if @on_air
    = render 'playlist'
  - else
    %p.alert Readback is configured incorrectly.  There is no show currently scheduled.

-#<div style="position:absolute; text-align:right; border-top: 3px solid black;
-#margin-left: -215px; width: 200px;">This is a DJ comment! It should have a
-#maximum width, don't you think?</div>
