- title "Playlist Input"

%aside.sidebar
  %a#now-button{href: "#now"}
    %span now
  %h1.accent Readback
  %p.subtitle The WCBN Database
  =render @on_air
  - if flash[:alert]
    .alert
      - flash[:alert].each do |err|
        =err
  = render 'songs/form'
  %br
  = form_for @on_air, remote: true do |f|
    .field
      = f.label :notes, "Show Notes"
      %br
      = f.text_area :notes
    .actions
      = f.submit "Save Show Notes", data: {disable_with: "Saving..."}

%article.with-sidebar.scroll-up
  %table.playlist
    %thead
    - @future_items.each do |item|
      %tr.grey
        =render item
    %tr#now.grey
      %td{colspan: 6}
        ⇧
        %span Next up on WCBN
        ⇧
        %br
    %thead
      %td Time
      %td Artist
      %td Song Title
      %td Album
      %td Label
      %td Year
    - @past_items.each do |item|
      %tr
        =render item
      -if item.is_a? Episode
        -unless item.notes.blank?
          %tr
            %td.show-notes{colspan: 6}
              %h4 Show Notes
              = item.notes
        %thead
          %td Time
          %td Artist
          %td Song Title
          %td Album
          %td Label
          %td Year

-#<div style="position:absolute; text-align:right; border-top: 3px solid black;
-#margin-left: -215px; width: 200px;">This is a DJ comment! It should have a
-#maximum width, don't you think?</div>
