- title "Playlist"

%aside.sidebar{class: ("sidebar-fixed" if on_fm_computer?)}
  - if @on_air
    %a#now-button{href: "#now"}
      %span now
    = render 'episodes/upcoming_episodes'
    = render 'songs/form' if on_fm_computer?
    = render 'setbreaks/form' if on_fm_computer?
    %br
    - if on_fm_computer?
      = render 'episodes/shownotes', episode: @on_air, editable: true

%article.with-sidebar{class: ('scroll-up' if on_fm_computer?)}
  .playlist-search-form
    = form_tag search_playlist_index_path, method: :get do
      %p.linear-field
        = label_tag do
          = link_to search_playlist_index_path do
            %i.fa.fa-search
        = text_field_tag :q, params[:q], placeholder: "Search playlist"
  - if @on_air
    = render 'playlist'
    .grey
      %a#infinity{data: {til: PlaylistController::HOW_FAR_BACK.ago.to_json,
                         from: (PlaylistController::HOW_FAR_BACK.ago - 1.hour).to_json}}
        = playlist_editor_signed_in? ? "Click here" : "Scroll down"
        to load more
  - else
    %p.alert Readback is configured incorrectly.  There is no show currently scheduled.

-#<div style="position:absolute; text-align:right; border-top: 3px solid black;
-#margin-left: -215px; width: 200px;">This is a DJ comment! It should have a
-#maximum width, don't you think?</div>
