- title "Playlist Search"
- headline "Playlist Search"

- content_for :sidebar do
  = form_tag search_playlist_index_path, method: :get do
    .field
      = label_tag "Query"
      %p.instructions
        Matches songs with information containing all of these words.
      = text_field_tag :q, params[:q]
    .actions
      = submit_tag "Search", name: nil

= render partial: 'playlist', locals: {abridged: true}
.grey
  %a#infinity{data: {action: search_playlist_index_path,
                     q: params[:q],
                     offset: 1}}
  %br
  This archive only includes shows after September 15, 2015.  The historical
  archive, back to August 2004, can be accessed
  = succeed '.' do
    = link_to "here", "https://wcbn.org/playlist?advsearch=fromto"
