= form_for [@semester, @talk_show] do |f|
  - if @talk_show.errors.any?
    .alert
      - @talk_show.errors.full_messages.each do |msg|
        %p= msg
  .field
    = f.label :name
    = f.text_field :name, tabindex: 30
  .field
    = f.label :dj_id, 'Single host?'
    = f.select :dj_id,
      active_for_select(f.object.dj),
      {include_blank: "Many hosts"}, tabindex: 31, class: 'chzn-select'
  .field
    = f.label :weekday
    = f.select :weekday, options_for_select(DateTime::DAYNAMES.map.with_index.to_a, f.object.weekday), {}, tabindex: 32
  .field.field-beginning
    = f.label :beginning, 'Start'
    = f.time_field :beginning, value: format_time(f.object.beginning), tabindex: 33
  .field.field-ending
    = f.label :duration, raw('Duration&nbsp;(hrs)')
    = f.number_field :duration, step: 0.1, tabindex: 14
  .actions
    = f.submit 'Save talk show', data: { disable_with: 'Saving...' }, tabindex: 35
