= form_for [@semester, @talk_show] do |f|
  - if @talk_show.errors.any?
    .alert
      - @talk_show.errors.full_messages.each do |msg|
        %p= msg
  .field.field-beginning
    = f.label :name
    = f.text_field :name, tabindex: 30
  .field.field-ending
    = f.label :dj_id, 'Single host?'
    = f.select :dj_id,
      options_from_collection_for_select(Dj.all, :id, :name),
      {include_blank: "Many hosts"}, tabindex: 31
  .field.field-weekday
    = f.label :weekday
    = f.select :weekday, options_for_select(DateTime::DAYNAMES.map.with_index.to_a), {}, tabindex: 32
  .field.field-time
    = f.label :ending, 'End'
    = f.time_field :ending, tabindex: 34
  .field.field-time
    = f.label :beginning, 'Start'
    = f.time_field :beginning, tabindex: 33
  .actions
    = f.submit 'Add talk show', data: { disable_with: 'Saving...' }, tabindex: 35
