- if dj_signed_in? && current_dj.can_update?(@show)
  = content_for :sidebar do
    = render 'form', semester: @semester, show: @show

= render 'shows/header', show: @show
= render 'shows/hosts', show: @show

= render 'shows/episodes', show: @show do |episode|
  - if episode.past?
    .show__episode__meta
      = link_to episode_songs_path(episode),
                class: %w[pt-tag pt-intent-primary pt-minimal] do
        Show Notes
