- content_for :host do
  %h3 Your Host
  .rotating-hosts.tiles
    .tile.rotating-host
      =render @talk_show.dj
- title "#{@talk_show.name}"
- subtitle raw "#{@talk_show.description.gsub("\r\n\r\n", '<br />')}"
- headline "#{@talk_show.name}"
- back_link link_to "Back to Schedule", semester_path(@talk_show.semester)
- if dj_signed_in? && current_dj.can_update?(@talk_show)
  = content_for :sidebar do
    - if dj_signed_in? && current_dj.can_update?(@talk_show)
      =render 'form'
    - else
      =content_for :host



- unless @talk_show.website.blank?
  .show-website
    %cite= @talk_show.unambiguous_name
    has its own website:
    = link_to @talk_show.website_name, @talk_show.website

- if dj_signed_in? && current_dj.can_update?(@talk_show)
  =content_for :host
%h3 Episodes
.tiles
  - @episodes.each do |episode|
    .showinfo.tile
      -if episode.past?
        %p.show-instance-links
          =link_to "#{episode.songs.count} #{"song".pluralize(episode.songs.count)}",
            episode_songs_path(episode)
      %p=episode.date_string
      %p.with
        =with episode, short: true if episode.subbed_for?
        &nbsp;
