<!DOCTYPE html>
<html>
<head>
  <title>WCBN-FM <%= content_for?(:title) ? " — " + content_for(:title): "" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:notice] %>
    <div class="floating-notice">
      <p><%= flash[:notice] %></p>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="floating-alert">
      <p><%= flash[:alert] %></p>
    </div>
  <% end %>


  <header id="dj-signed-<%= dj_signed_in? ? 'in' : 'out'%>-nav" <%="class=fixed" if on_fm_computer? %>>
  <div class="right">
    <% if current_dj %>
      <% if current_dj.has_role?(:superuser) %>
        <%= raw "#{link_to("Roster", djs_path)} • " %>
      <% else %>
        <%= raw "#{link_to("Phone List", djs_path(format: :pdf))} • "%>
      <% end %>
      <%= raw "#{link_to("Trainees", trainees_path)} • " if current_dj.can_read? Trainee %>
      <%= link_to "Sub Board", sub_requests_path %> &mdash;
      <%= link_to current_dj.name, current_dj %>
      [<%= link_to "Log out", destroy_dj_session_path, method: :delete %>]
    <% else %>
      <%= link_to "Log in", new_dj_session_path %>
    <% end %>
  </div>
</header>

<div class="container <%= 'dj-signed-in-container' if dj_signed_in? %>">
<%#FROM DRUPAL%>
<% fixed_or_absolute = if current_page?(root_path) && on_fm_computer?
                         'fixed'
                       else
                         'absolute'
                       end%>
<div id="wcbn-org-nav-container" class="<%=fixed_or_absolute%>-wcbn-org-nav">
<ul id="wcbn-org-nav" data-turbolinks-permanent>
  <a href="https://www.wcbn.org/"><%= image_tag(asset_path("wcbn.png"))%></a>
  <li id="LI_2">
  <a href="https://www.wcbn.org/about" id="A_3">About</a>
  </li>
  <li id="LI_4">
  <a href="https://www.wcbn.org/events" id="A_5">Events</a>
  </li>
  <li id="LI_6">
  <a href="https://www.wcbn.org/content/contact" title="Contact" id="A_7">Contact</a>
  </li>
  <li id="LI_8">
  <a href="<%=semester_path(Semester.current) %>" id="A_9">Schedule</a>
  </li>
  <li id="LI_10">
  <a href="<%=root_path(anchor: 'now')%>" id="A_11">Playlist</a>
  </li>
  <li id="LI_10">
  <a href="https://friends.umich.edu/site/Ecommerce?store_id=2241" id="A_11">Donate</a>
  </li>
</ul>
</div>

<%= yield %>

<% unless on_fm_computer? %>
<%= javascript_pack_tag 'player' %>
<%= react_component 'player',
                    prerender: true,
                    html_options: { data: { turbolinks_permanent: true } } %>
</div>
<% end %>

<% if Rails.env.production? %>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-79717422-1', 'auto');
ga('send', 'pageview', 'app/'+window.location.pathname);

</script>
<% end %>
</body>
</html>
