<!DOCTYPE html>
<html>
<head>
  <title>WCBN Playlist <%= content_for?(:title) ? " - " + content_for(:title): "" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="auth">
    Logged in
  </div>
</header>

<%= yield %>

</body>
</html>
