<!DOCTYPE html>
<html>
<head>
  <title>Readback <%= content_for?(:title) ? " — " + content_for(:title): "" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="dj-signed-<%= dj_signed_in? ? 'in' : 'out'%>-nav" <%="class=fixed" if on_fm_computer? %>>
  <div class="right">
    <% if current_dj %>
      <%= link_to "Sub Board", episodes_path %> &mdash;
      <%= link_to current_dj.name, current_dj %>
      [<%= link_to "Log out", destroy_dj_session_path, method: :delete %>]
    <% else %>
      <%= link_to "Log in", new_dj_session_path %>
    <% end %>
  </div>
</header>

<div class="container <%= 'dj-signed-in-container' if dj_signed_in? %>">
<%#FROM DRUPAL%>
<% fixed_or_absolute = if controller_name == 'playlist' && on_fm_computer?
                         'fixed'
                       else
                         'absolute'
                       end%>
<ul id="wcbn-org-nav" class="<%=fixed_or_absolute%>-wcbn-org-nav">
  <%= image_tag "wcbn"%>
  <li id="LI_2">
  <a href="http://www.wcbn.org/about" id="A_3">About</a>
  </li>
  <li id="LI_4">
  <a href="http://www.wcbn.org/events" id="A_5">Events</a>
  </li>
  <li id="LI_6">
  <a href="http://www.wcbn.org/content/contact" title="Contact" id="A_7">Contact</a>
  </li>
  <li id="LI_8">
  <a href="<%=semester_path(Semester.current) %>" id="A_9">Schedule</a>
  </li>
  <li id="LI_10">
  <a href="<%=root_path(anchor: 'now')%>" id="A_11">Playlist</a>
  </li>
</ul>

<%= yield %>
</div>

</body>
</html>
