<!DOCTYPE html>
<html>
<head>
  <title>Readback <%= content_for?(:title) ? " — " + content_for(:title): "" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="nav">
  <div class="left">
    <span><%= link_to "Playlist", controller: :playlist, anchor: 'now' %></span>
    <span><%= link_to "Schedule", Semester.current %></span>
  </div>
  <div class="right">
    Logged in as a WCBN DJ
  </div>
</header>

<%= yield %>

</body>
</html>
